*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  text-align: center;
}
.container {
  max-width: 800px;
  width: 90%;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000020;
  background-color: whitesmoke;
}

.card {
  border: none;
  border-radius: 8px;

}

img {
  border-radius: 8px;
  object-fit: contain;
  width: 100%;
}

.bottom {
  background-color: whitesmoke;
}

.front-font {
  font-family: 'Roboto', sans-serif;
  color: #f4c34d;
}
.question{
  text-align: left;
}

.name-left {
  display: inline-block;
  float: left;
}

.score {
  display: inline-block;
  float: center;
}
/* .step {
  display: none;
}
.step.active {
  display: block;
} */



.start,
.next-btn,
.restart,
.prev-btn,
.submit-btn {
  float: right;
  padding: 10px 30px;
  background-color: rgb(220,96,55);
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.restart,
.prev-btn {
  float: left;
}