*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  text-align: center;
}
.start {
  float: right;
  /* margin-top: 20px; */
  padding: 10px 30px;
  background-color: rgb(220,96,55);
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}